<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>519 Productions</title>
<%= stylesheet_link_tag 'main', 'tweet' %>
<%= javascript_include_tag 'jquery.min.js', 'tweet/jquery.tweet.js', 'application.js' %>

<script type="text/javascript">
  $(document).ready(function () {
    $(".tweet").tweet({
      username: "portableworld",
      count: 1
      
    });
  });
</script>
</head>

<body>
<p>
  <%= image_tag 'verse.png', {:alt => 'Verse', :name => 'verse',
    :id => 'verse', :width => '553', :height => '162'} %>
  <%= image_tag 'latest_happening.png', {:name => 'latest_h', :width => '254',
    :height => '187', :id => 'latest_h'} %>
  <%= link_to((image_tag 'rss_logo.png', {:alt => 'RSS Feed Link', :name => 'rss_logo',
          :width => '69', :height => '76', :id => 'rss_logo', :border => '0'}),
      '#', {:target => '_blank'})%>
  <%= image_tag 'rss_logo_hover.png', {:id => 'rss_logo_hover'} %>
  <%=  image_tag 'new_happenings.png', {:name => 'latest_line', :width => '242',
          :height => '164', :id => 'latest_line'} %>

  <p class="links">
    <%= image_tag 'home.png', {:alt => 'Home', :name => 'home',
      :width => '69', :height => '19', :id => 'home'} %>
    <%= image_tag 'home_hover.png', {:alt => 'Home', :name => 'home',
      :id => 'home_hover'} %>
    <%= image_tag 'artists.png', {:alt => 'Artists', :name => 'artists',
      :width => '80', :height => '21', :id => 'artists'} %>
    <%= image_tag 'artists_hover.png', {:alt => 'Artists', :name => 'artists',
      :id => 'artists_hover'} %>
    <%= image_tag 'bookings.png', {:alt => 'Bookings', :name => 'bookings',
      :width => '105', :height => '28', :id => 'bookings'} %>
    <%= image_tag 'bookings_hover.png', {:alt => 'Bookings', :name => 'bookings',
      :id => 'bookings_hover'} %>
    <%= image_tag 'about.png', {:alt => 'About', :name => 'about',
      :width => '74', :height => '22', :id => 'about'} %>
    <%= image_tag 'about_hover.png', {:alt => 'About', :name => 'about',
      :id => 'about_hover'} %>
    <%= image_tag 'gold_lines.png', {:width => '964', :height => '604',
      :id => 'gold_lines'} %>
    <%= image_tag 'up_line.png', {:width => '1', :height => '353',
      :id => 'up_line'} %>
    <%= image_tag 'content.png', {:width => '891', :height => '457',
      :id => 'content_area'} %>
    <%= link_to((image_tag 'twitter_logo.png', {:width => '68', :height => '70',
          :id => 'twitter_logo', :border => '0'}), 'http://www.twitter.com', {:target => '_blank'}) %>
    <%= image_tag 'twitter_logo_hover.png', {:id => 'twitter_logo_hover'} %>
    <%= link_to((image_tag 'fb_logo.png', {:width => '71', :height => '71',
          :id => 'fb_logo', :border => '0'}), 'http://www.facebook.com', {:target => '_blank'}) %>
    <%= image_tag 'fb_logo_hover.png', {:id => 'fb_logo_hover'} %>
    <%= link_to((image_tag 'myspace_logo.png', {:width => '76', :height => '75',
          :id => 'ms_logo', :border => '0'}), 'http://www.myspace.com', {:target => '_blank'}) %>
    <%= image_tag 'myspace_logo_hover.png', {:id => 'ms_logo_hover'} %>
    <%= image_tag 'side_line.png', {:width => '292', :height => '1',
      :id => 'side_line'} %>
        <%= image_tag 'twitter_bubble.png', {:id => 'bubble'} %>
        <%= image_tag 'twitter_logo_name.png', {:width => '252', :height => '52',
          :id => 'twitter_logo_name'} %>
    <div class="tweet"></div>
  </p>
</body>
</html>
